@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../../assets/styles/variables";

.BodyLogin {
  background: $white url(./../../../assets/images/newspaper.png) no-repeat bottom right;
}

.Login {
  height: 99vh;
  display: flex;
  justify-content: center;

  &-logo {
    img { width: 180px; }
  }

  &-dialog {
    background: $gray-200;
    display: flex;
    align-self: center;
    padding: 35px 40px 40px 40px;
    box-shadow: 0 14px 30px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.07);
    border:1px solid $gray-300;
    width: 25.5em;
    max-width: 90%;
    border-radius: 5px;
  }

  &-greeting {
    color:$gray-600;
    font-size: 23px;
    margin: 40px 0 0 0;
  }

  &-cta {
    color: $gray-500;
    font-size:20px;
    margin-bottom: 40px;
  }
}
