/node_modules
/public/hot
/public/index.html*
/public/app.html*
/public/admin.html*
/public/storage
/public/assets/styles
/public/assets/js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper*.php
Nginx-*
.phpstorm*
.phpintel*
