@import "../../../assets/styles/variables";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.BodyLogin {
  background: #EFEFEF url(./../../../assets/images/placeholder.png) no-repeat bottom right;
}

.Login {
  height: 99vh;
  display: flex;
  justify-content: center;

  &-logo {
    img { width: 180px; }
  }

  &-dialog {
    //background: $white;
    display: flex;
    align-self: center;
    padding: 55px 40px 40px 40px;
    //box-shadow: 0 14px 30px rgba(0,0,0,.07), 0 3px 6px rgba(0,0,0,.07);
    //border:1px solid $gray-300;
    width: 29em;
    max-width: 90%;
    border-radius: 5px;
  }

  &-greeting {
    color:$gray-600;
    font-size: 23px;
    margin: 40px 0 0 0;
  }

  &-cta {
    color: $gray-500;
    font-size:20px;
    margin-bottom: 40px;
  }

  .btn-circle + .btn-circle { margin-left: 8px; }
}
