.feeds {

  &-order {
    line-height: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      & + li {
        margin-left: 15px;
      }
    }

    a{
      text-decoration: none;
      padding-bottom: 3px;
      border-bottom: 3px solid transparent;
      color: $black;
      font-size: 1.3rem;

      &.active {
        border-color: $primary;
      }

      &:active, &:hover {
        text-decoration: none;
        border-color: $primary;
      }
    }
  }

  &-section {
    break-inside: avoid;
    margin-bottom:50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .title {
      font-size: 1.8rem;
      margin-bottom: 0px;
      text-transform: uppercase;

      a {
        color: rgba(0,0,0,.5);
        &:hover {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

  &-feeds {
    padding: 20px 0 0 0;
  }
}

.feedinfo {
  &__pagetitle {
    text-align: center;
    background: url(~assets/images/newspapers.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
    color: $white;

    &:before {
      content: ' ';
      background: rgba($gray-800, .5);
      position: absolute;
      left:0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .container {
      position: relative;
      height: 14rem;

      @include media-breakpoint-up(md) {
        height: 27rem;
      }
    }

    h1 {
      color: inherit;
      font-size: 2.4rem;
      font-weight: 300;
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {
        font-size: 3.2rem;
      }
    }
  }
}

.feed-toc {
  font-family: "Libre Baskerville", "Times New Roman", serif;
  li + li {
    margin-top: .7rem;
  }
}

.cat-img {
  height: 170px;
  width: 100%;
  background-size: cover;
  border-radius: $border-radius;
}

.hero-cat {
  margin-top: 0!important;
  height: 50vh;
  background-color: $gray-600;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include gradient-y(transparent 70%, rgba(0,0,0,.7) 100%);
    z-index: 0;
  }

  & .container {
    z-index: 100;
  }
}

.source {

  & + & {
    margin-top: 3.4rem;
  }

  &__toc {
    @include font-size(16px);

    @include media-breakpoint-up(lg) {
      column-count: 2;
    }

    & li {
      margin: .3rem 0 .7rem;
      line-height: 1.2;
    }
  }
}
