.navbar-brand {
  img {
    height: 27px;

    @include media-breakpoint-up(md) {
      height: 38px;
    }
  }
}

.navbar-collapse.show,
.navbar-collapse.collapsing{
  .navbar-nav {
    padding-top: .9rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.nav-item {
  font-size: 15px;
  font-weight: 600;

  & + & {
    margin-left: 1rem;
  }

  .nav-link {

  }

  .btn {
    font-size: inherit;
    font-weight: inherit;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    min-width: 8rem;
  }
}
