$white:                   #fff;
$black:                   #000;

$gray-100:                #f8f9fa;
$gray-200:                #e9ecef;
$gray-300:                #dee2e6;
$gray-400:                #ced4da;
$gray-500:                #adb5bd;
$gray-600:                #6c757d;
$gray-700:                #495057;
$gray-800:                #3c3c3c;
$gray-900:                #212529;

$red:                     #F95C52;
$green: #7CB342;//#90c108;

$light:                   $gray-100;
$dark:                    $gray-800;
$primary:                 $red;
$secondary:               hsl(25,16,82);
$body-color:              $gray-800;
$text-muted:              $gray-500;
$color-facebook:          #3b5998;
$color-twitter:           #55acee;
$color-google:            #dd4b39;

// GENERAL
$line-height-base:        1.4;
$headings-font-weight:    400;
$font-weight-bold:        600;
$font-weight-bolder:      700;
$font-size-base:          1.15rem; // browser default is 1rem, i.e. `16px`

$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "Gentium Basic", Arial, Helvetica, sans-serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;
$headings-color:          inherit;

$font-size-base:          1rem; // Assumes the browser default, typically `16px`
$h1-font-size:            $font-size-base * 2.7;
$h2-font-size:            $font-size-base * 2.2;
$h3-font-size:            $font-size-base * 1.75;
$h4-font-size:            $font-size-base * 1.5;
$h5-font-size:            $font-size-base * 1.25;
$h6-font-size:            $font-size-base;

$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl:  1240px
);

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2),
  6: ($spacer * 3),
  7: ($spacer * 4),
  8: ($spacer * 5),
  9: ($spacer * 5),
), $spacers );

// NAVBAR
$navbar-padding-y:                  $spacer * 1.6;
$navbar-brand-height:               1.7rem;
$navbar-light-color:                rgba($black, .7);
$navbar-light-hover-color:          rgba($black, .9);
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($black, .3);

$navbar-toggler-padding-y:          .15rem;
$navbar-toggler-padding-x:          .25rem;
$navbar-toggler-font-size:          14px;
$navbar-toggler-border-radius:      3px;

// INPUTS
$input-btn-padding-y:               .525rem;
$input-btn-padding-x:               1.5rem;
$input-btn-padding-x-lg:            2rem;

// HEADINGS
$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "Gentium Basic", Arial, Helvetica, sans-serif;
$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;
$headings-color:          inherit;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
