.hero {
  padding-top: 1rem;
  text-align: center;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
    text-align: left;
  }

  &__title {
    font-family: $font-family-serif;
    @include media-breakpoint-up(lg) {
      @include font-size(45px);
    }
    @include media-breakpoint-up(xl) {
      @include font-size(50px);
    }
  }

  &__img {
    margin-top: -6rem;
    position: absolute;
    display: none;

    @include media-breakpoint-up(lg) {
      width: 52vw;
      display: block;
      opacity: .38;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -9vw;
      max-height: 71vh;
    }
  }
}
