// Typography
p,
dd,
dt,
ul,
ol {
  font-size: 1.125rem;
}

.text-serif {
  font-family: $font-family-serif;
}

// Links
.link-dark {
  color: $dark;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}


// Images

.img-fluid {
  max-width: 100%;
}

// Buttons

.btn-outline-secondary:hover {
  background-color: transparent!important;
  color: $dark!important;
  border-color: $dark!important;
}

.btn-lg-cta {
  border-radius: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  @extend .btn-primary;
}

.main {
  min-height: 55vh;
}

.section {
  & + & {
    margin-top: 4rem;
  }

  &__prefix {
    color: $gray-500;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      font-size: .8rem;
      padding: 0 1rem;
    }
  }

  &__title {
  }

}

.hero {
  padding-top: 1rem;
  text-align: center;

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
    text-align: left;
  }

  &__title {
    font-family: $font-family-serif;
    @include media-breakpoint-up(lg) {
      @include font-size(45px);
    }
    @include media-breakpoint-up(xl) {
      @include font-size(50px);
    }
  }

  &__img {
    margin-top: -6rem;
    position: absolute;
    display: none;

    @include media-breakpoint-up(lg) {
      width: 52vw;
      display: block;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -9vw;
      max-height: 71vh;
    }
  }
}

.cat-img {
  height: 170px;
  width: 100%;
  background-size: cover;
  border-radius: $border-radius;
}

.hero-cat {
  height: 50vh;
  background-color: $gray-600;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    @include gradient-y(transparent 70%, rgba(0,0,0,.7) 100%);
    z-index: 0;
  }

  & .container {
    z-index: 100;
  }
}


.feed {
  border-radius: $border-radius;
  min-height: 100%;
  position: relative;
  padding-left: 78px!important;

  &__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: $spacer*1.2;
    top: $spacer*1.35;
    display: block;
    border-radius: $border-radius;
    background: url(/assets/images/rss.svg) no-repeat 100%;
  }
}

.source {

  & + & {
    margin-top: 3.4rem;
  }

  &__toc {
    @include font-size(16px);

    @include media-breakpoint-up(lg) {
      column-count: 2;
    }

    & li {
      margin: .3rem 0 .7rem;
      line-height: 1.2;
    }
  }
}
