.side {
  padding-top: 20px;
  text-align: left;

  img {
    width: 75%;
    min-width: 150px;
    max-width: 220px;
  }

  &__nav {
    text-align: left;
    list-style: none;
    padding: 0;
    margin-top: 30px;
  }
}
