@import "../../../assets/styles/variables";




.sidenav{
  padding-top: 30px;

  &__item {
    margin: 0 0 10px 0;
    position: relative;

    &.active {
      .sidenav__link {
        color: $black;
      }
    }

    &.active:after {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 4px;
      background: $primary;
      left: -15px;
    }
  }

  &__link {
    color: #777;
    font-weight: 500;
    padding: 7px 0 7px 20px;
    display: inline-block;
    width: 100%;
    margin-left: -15px;
    transition: $transition-base;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      height: 1px;
      width: 100%;
      background: $secondary;
      left: -100%;
      bottom: 0;
      transition: $transition-base;
    }

    &:hover {
      text-decoration: none;
      padding-left: 23px;
      color: $black;

      &:after {
        left: 0;
        bottom: 0;
      }

    }

    svg {
      margin-top: -5px;
      margin-right: 7px;
      color: inherit;
    }
  }
}
